MAIN_WALLET_PRIVATE_KEY=
MAIN_WALLET_ADDRESS=

BSC_RPC_URL=
BSC_TESTNET_RPC_URL=

USE_TESTNET=
GAS_PRICE_GWEI=
GAS_LIMIT=
MAX_RETRIES=
RETRY_DELAY_MS=

TOKEN_NAME=Lendon
TOKEN_SYMBOL=lendon
TOKEN_DESCRIPTION=I am Lendon Bracewell and this is my bot
TOKEN_WEBSITE=https://tsagent.xyz
TOKEN_TWITTER=https://x.com/lendon1114
TOKEN_TELEGRAM=https://t.me/topsecretagent_007
TOKEN_TAG=meme
RAISED_TOKEN=bnb

BUNDLER_WALLET_COUNT
MIN_BUY_AMOUNT_BNB=
MAX_BUY_AMOUNT_BNB=
RANDOM_BUY_AMOUNTS=

LOG_LEVEL=
LOG_TO_FILE=
